<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

    <body>
        <!-- Header -->
        <%- include('./partials/header') %>
            <!-- /Header -->

            <!-- Banner -->
            <div class="banner">
                <img src="images/banner2.png" alt="Banner de ofertas">
            </div>
            <!-- /Banner -->
           <h2 class="h2p"> Todos los productos</h2>
            <% for(let i=0; i < productos.length; i++){ %>


                <div class="container products-wrapper">
                    <div class="d-flex align-items-center">
                        <h2 class="products-title">
                            <%= productos[i].marca %>
                        </h2>
                        <p class="product-detail-description">
                            <a href="/add">
                                <%= productos[i].modelo %>
                            </a>
                        </p>
                    </div>
                    <div class="product-detail">
                        <div class="row">
                            <article class="col-12 col-lg-8 product-detail-info">
                                <img src="<%= productos[i].imagen %>" alt="" class="product-detail-img">
                                <p class="product-detail-description">
                                    <%= productos[i].descripcion %>
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
                }
                   <!-- / footer include('./partials/footer') %> -->
    </body>

</html>