<html>

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<!-- Header -->
	<% if (locals.user) { %> 
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %> 
	<!-- /Header -->

	<main>
		<!-- product detail -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title">
				
					<%= productos.nombre %>

					<%= productos.marca %>
					
				</h2>

				<p> </p>
				<h2 class="products-title">

				

					<%= productos.marca %>
					
				</h2>

				<h2 class="products-title">

					
					<%= productos.modelo %>
					
				</h2>


			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="/images/sneakers/<%= productos.image %>" alt=" " class="product-detail-img">
						<p class="product-detail-description">
							<%= productos.descripcion %>
						</p>


						</article>
						<div class="col-12 col-lg-4">
							<section class="comments">
								<article>
									<% for (let i=0; i < productos.comentarios.length; i++) { %>
						<img src="/images/users/<%= productos.comentarios[i].comentador.image %>" alt="">
						<div class="data">

							<p class="user">
								<strong> <a href="/user/<%= productos.comentarios[i].comentador.id %>">
										<%= productos.comentarios[i].comentador.username %>
									</a> </strong>
								<%= productos.comentarios[i].comentario %>
							</p>
							<% } %>

						</div>
					</article>

					</section>
					<form class="form" action="/product/comment/<%= productos.id %>" method="POST">
						<input class="form-input" type="text" value="" name="comentario" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
		</div>
		<!-- /product detail -->
	</main>
	<%- include('./partials/footer') %>
</body>

</html>