<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado.ejs')  %> 
	  <% }else {%>
		  <%- include('./partials/header.ejs')  %> 
	  <% } %> 

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			
			
			<div class="img-container offset-3 col-2">
				<img src="<%for(let i=0; i < usuario.length; i++){ %>
					<% if(id==usuario[i].id){ %>
						<%= usuario[i].image %>

							<% } %>
									<% } %>" alt="foto de perfil" class="foto-perfil">
			</div>
			
			
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title">
						<%for(let i=0; i < usuario.length; i++){ %>
							<% if(id==usuario[i].id){ %>
								<%= usuario[i].username %>

									<% } %>
											<% } %>
						<a href="/user/edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>3 productos</li>
						<li>527 seguidores</li>
						<li>305 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>