<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerlogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form method="post" action="/user/edit/<%= usuario.id %>" class="form-register-container">
						<div>
							<label for="name" class="formulario-datos">Nombre:</label>
							<input id="name" type="text" name="username" value="<%= usuario.username %>">
						</div>
						<br>
						<div>
							<label for="email" class="formulario-datos">Email:</label>
							<input id="email" type="text" name="email" value="<%= usuario.email %>">
						</div>
						
						<br>
						<div>
							<label for="fecha de nacimiento" class="formulario-datos">Fecha de nacimiento:</label>
							<input id="Fecha de nacimiento" type="date" name="birthdate" value="<%= usuario.birthdate %>">
						</div>
						<br>
						<div>
							<label for="numero de documento" class="formulario-datos">DNI:</label>
							<input id="numero de documento" type="text" name="dni" value="<%= usuario.dni %>">
						</div>
						<br>
						
						<div>
							<button type="submit">Editar</button>
						</div>

				</form>
			</h2>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>